/* This stylesheet is used to style the admin option form of the plugin. */

.extendable_options {
	height: 0;
	overflow: hidden;
}

fieldset.group {
	border-left:1px solid #333;
	padding-left: 20px;
}

.postbox h3.hndle {
	padding: 7px;
	font-size: 15px;
}

.postbox .row {
	width: 100%;
	display: inline-block;
	padding: 5px 0;
}

.postbox .row .field {
	width: 100%;
	display: inline-block;
	padding: 5px 0;
}

.postbox .row .group {
	border: 1px solid rgba(135, 135, 135, 0.20);
	background-color: rgba(135, 135, 135, 0.20);
	padding-left: 15px;
	margin-left: 5px;
}
/*
.postbox .row .group:before{
	content: "";
	display: block;
	margin-left: -17px;
	margin-top: -11px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid rgba(135, 135, 135, 0.26);
}*/

.uninstall_area {
	margin-top: 15px;
}